* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: rgb(220, 229, 238);
    
    
}


header{
    background-color: lightseagreen;
    text-align: center;
    color: white;
    padding: 25px;
    font-size: 25px;
    margin: 20px;
}

img {
    border: 15px solid lightseagreen;
    margin: 25px ;
    margin-left: 200px;
}

.img2 {
    border-style: dashed;
}

.img3 {
    border-style: dotted;
}

.img4 {
    border-style: double;
    margin-left: 450px;
}
.img5 {
    border-style: groove;
}
.img6 {
    border-style: inset;
    margin-left: 450px;
}
.img7 {
    border-style: none;
    
}

div {
    width: 50%;
    margin-top: 25px;
    margin-left: 370px;
    background-color: lightseagreen;
    
    border: 10px red inset;
    text-align: justify;
    
}
h3 {
    text-align: center;
    padding: 25px;
}
p {
    margin: 20px;
}

footer {
    background-color: lightseagreen;
    height: 100px;
    font-size: 20px;
    padding: 35px;
    text-align: center;
    margin: 20px;
    margin-top: 20px;
    font-size: 35px;
}

footer a {
    color: aliceblue;
    text-decoration: none;
    padding: 25px;
}

footer a:hover {
    color: blue;
    text-decoration: underline;
}