* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 15px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    
    background-color: aliceblue;
    height: 100vh;
    width: 50vw;
}

header {
    background-color: darkolivegreen;
    color: white;
    height: 100px;
    font-size: 30px;
    padding: 17px;
    text-align: center;
}

.image {
    margin: auto;
    margin-top: 50px;
    height: 300px;
    width: 300px;
    background-image: url(lucifer.jpg); 
    border-radius: 50%;
}

p {
    margin: auto;
    margin-top: 35px;
    align-items: center;
    height: 70px;
    width: 200px;
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
    color: rgb(96, 45, 27);
    border: 3px solid crimson;
}

a.watch {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 35px 37%;
}

a.watch:hover {
    transform: scale(1.5);
    background-color: rgba(23, 193, 23, 0.773);
    box-shadow: 10px 10px 30px 10px #f44336, -10px -10px 30px 10px #f44336 ;
}

button {
    background-color: white;
  color: black;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 3px 40%;
}

button:hover {
    transform: scale(1.5);
    background-color: rgba(186, 220, 186, 0.773);
    box-shadow: 10px 10px 30px 10px #f44336, -10px -10px 30px 10px #bca3a1 ;
}

footer {
    background-color: darkolivegreen;
    height: 100px;
    font-size: 20px;
    padding: 35px;
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: aliceblue;
    text-decoration-style: dashed;
    padding: 15px;
}

footer a:hover {
    color: blue;
}